<div class="container pt-5">

<h1>Ajouter un film à <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :list_name, label: "Nom de la liste", input_html: { value: @list.name, readonly: true } %>
<%= f.association :movie, label: "Films" %>
<%= f.input :comment, label: "Commentaire" %>
<%= f.submit "Ajouter" %>
  <% end %>


</div>
